# Mac OS X files
.DS_Store

# editor and IDE paraphernalia
.vscode/
.idea/
.history/
.run/
.vimrc
*.swp
*.swo
*~

hadoop-common/3.3.4/hadoop-3.3.4
hive-spark-common/hive3.1.3-spark3.4.1
hive/3.1.3/metastore/hive-3.1.3


# generated temp directory
temp
